<div class="wrapper">
   <div class="side-bar">
  <%= render "side_bar" %> <%# _side_bar.html.erbファイルの読み込み　%>
  </div>
  <div class="chat">
  <%= render "main_chat" %> <%# _main-chat.html.erbファイルの読み込み %>
  </div>
</div>