
.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-chat a{
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow-block: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  text-decoration: none;
  color: white;
}

.chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin: 40px;
}

.right-header a{
  padding: 20px ;
  border: 1px solid darkred;
  color: darkred;
  text-decoration: none;
}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin-top: 10px;
}

.message-detail {
  display: flex;
}
.user-name {
  font-size: 16px;
  color: #434a54;
}

.lower-message {
  padding-top: 10px;
}

.message-date {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.message-content {
  color: #434a54;
  font-size: 12px;
  margin-bottom: 40px;
}

.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38aef0;
  border: none;
  font-size: 16px;
  color: white;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
